a {
	color: white;
	text-decoration: none;
}

.ui-top {
	width: 100%;
	height: 100px;
	background-color: gray;
	margin: auto;
}

.ui-top .title {
	width: 100px;
	height: 100%;
	font-size: 12px;
	text-align: center;
	line-height: 100px;
	background-color: #ff80c0;
}

.ui-top .openbtn {
	width: 100px;
	height: 100px;
	font-size: 55px;
	text-align: center;
	line-height: 100px;
	background-color: #ff80c0;
	float: right ; 
}

.ui-top div {
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

.ui-top .box {
	width: 668px;
	height: 100px ; 
	float: right;
}

.ui-top .boxOpen {
	width: 668px;
	height: 100px ; 
	float: right;
	display: none;
}

.ui-top .nav {
	width: 564px;
	display: inline-block;
}

.ui-top .user {
	width: 100px;
	height: 100%;
	font-size: 12px;
	text-align: center;
	line-height: 100px;
	background-color: #ff80c0;
}

.ui-top .items {
	width: 268px;
	margin: auto;
	display: block;
}

.ui-button {
	background-color: blue;
	color: white;
	text-align: center;
	font-size: 20px;
	line-height: 50px;
	border-radius: 5px;
}

.ui-button-radius {
	border-radius: 50px;
}

.ui-button:hover {
	background-color: #0000a9;
	text-decoration: none;
}

.ui-pages div {
	text-align: center;
}

.ui-pages span {
	width: 50px;
	height: 29px;
	color: white;
	font-size: 15px;
	line-height: 29px;
	display: inline-block;
	background-color: blue;
	border-radius: 5px;
}

.ui-pages span:hover {
	background-color: #0000a9;
}

.item {
	width: 400px;
	height: 400px;
	text-align: center;
	display: inline-block;
}

.item div {
	height: 84%;
}

.item img {
	width: 100%;
	height: 100%;
}

.item span {
	height: 16%;
	width: 100%;
	display: inline-block;
	background-color: blue;
	font-size: 16px;
	line-height: 56px;
	color: white;
}

.ui-h26 {
	height: 26px;
}

.ui-h34 {
	height: 34px;
}

.ui-h56 {
	height: 56px;
}

.ui-w566 {
	width: 566px;
}

.ui-w50-h20 {
	width: 50px;
	height: 20px;
}

.ui-w50-h50 {
	width: 50px;
	height: 50px;
}

.ui-w100-h50 {
	width: 100px;
	height: 50px;
}

.ui-w120-h50 {
	width: 50px;
	height: 50px;
}

.ui-w200-h400 {
	width: 200px;
	height: 400px;
}

.ui-w400-h400 {
	width: 200px;
	height: 400px;
}

.ui-w500-h500 {
	width: 200px;
	height: 400px;
}

.ui-w400-h600 {
	width: 200px;
	height: 400px;
}

.ui-radius-5px {
	border-radius: 5px;
	overflow: hidden;
}

.ui-radius-10px {
	border-radius: 10px;
	overflow: hidden;
}

.ui-radius-15px {
	border-radius: 15px;
	overflow: hidden;
}

.ui-radius-50px {
	border-radius: 50px;
	overflow: hidden;
}

.ui-radius-1-4 {
	border-radius: 50px 0px 0px 50px;
	overflow: hidden;
}

.ui-radius-2-3 {
	border-radius: 0px 50px 50px 0px;
	overflow: hidden;
}

.ui-radius-50000px {
	border-radius: 5px;
	overflow: hidden;
}

.ui-color-blue {
	color: white;
	background-color: blue;
}

.ui-color-29b6 {
	color: white;
	background-color: #29b6f6;
}

.ui-color-90ca {
	color: white;
	background-color: #90caf9;
}

.ui-color-5c6b {
	color: white;
	background-color: #5c6bc0;
}

.ui-color-c5ca {
	color: white;
	background-color: #c5cae9;
}

.ui-color-1565 {
	color: white;
	background-color: #1565c0;
}

.ui-color-29b6 {
	color: white;
	background-color: #29b6f6;
}

.ui-color-e1f5 {
	color: white;
	background-color: #e1f5fe;
}

.ui-color-black {
	color: black;
	background-color: black;
}

.ui-color-fafa {
	color: white;
	background-color: #fafafa;
}

.ui-color-f5f5 {
	color: white;
	background-color: #f5f5f5;
}

.ui-color-eeee {
	color: white;
	background-color: #eeeeee;
}

.ui-color-e0e0 {
	color: white;
	background-color: #e0e0e0;
}

.ui-color-bdbd {
	color: white;
	background-color: bdbdbd;
}

.ui-color-9e9e {
	color: white;
	background-color: #9e9e9e;
}

.ui-color-7575 {
	color: white;
	background-color: #757575;
}

.ui-color-6161 {
	color: white;
	background-color: #616161;
}

.ui-color-4242 {
	color: white;
	background-color: #424242;
}

.ui-color-29b6 {
	color: white;
	background-color: #29b6f6;
}

.ui-color-29b6 {
	color: white;
	background-color: #29b6f6;
}

.ui-color-42a5 {
	color: white;
	background-color: #42a5f5;
}

.ui-color-00ac {
	color: white;
	background-color: #00acc1;
}

.ui-color-00ac {
	color: white;
	background-color: #00acc1;
}

.ui-color-yello {
	color: white;
	background-color: yellow;
}

.ui-color-fff9 {
	color: white;
	background-color: #fff9c4;
}

.ui-color-fff1 {
	color: white;
	background-color: #fff176;
}

.ui-color-ffee {
	color: white;
	background-color: #ffee58;
}

.ui-color-ffeb {
	color: white;
	background-color: #ffeb3c;
}

.ui-color-29b6 {
	color: white;
	background-color: #29b6f6;
}

.ui-color-fcc6 {
	color: white;
	background-color: #fcc636;
}

.ui-color-fbc0 {
	color: white;
	background-color: #fbc02d;
}

.ui-color-f9a8 {
	color: white;
	background-color: #f9a825;
}

.ui-color-f57f {
	color: white;
	background-color: #f57f17;
}

.ui-color-ffeb {
	color: white;
	background-color: #ffebee;
}

.ui-color-ffca {
	color: white;
	background-color: #ffcaa2;
}

.ui-color-ef9a {
	color: white;
	background-color: #ef9a9a;
}

.ui-color-ef52 {
	color: white;
	background-color: #ef5250;
}

.ui-color-f442 {
	color: white;
	background-color: #f44226;
}

.ui-color-c628 {
	color: white;
	background-color: #c62828;
}

.ui-color-b71c {
	color: white;
	background-color: #b71c1c;
}

.ui-color-f451 {
	color: white;
	background-color: #f4511e;
}

.ui-color-e651 {
	color: white;
	background-color: #e65100;
}

.ui-color-29b6 {
	color: white;
	background-color: #29b6f6;
}

.ui-color-e1be {
	color: white;
	background-color: #e1bee7;
}

.ui-color-ce92 {
	color: white;
	background-color: #ce92a6;
}

.ui-color-ba68 {
	color: white;
	background-color: #ba68c8;
}

.ui-color-ab47 {
	color: white;
	background-color: #ab47bc;
}

.ui-color-9c27 {
	color: white;
	background-color: #9c27b0;
}

.ui-color-8e24 {
	color: white;
	background-color: #8e24aa;
}

.ui-color-29b6 {
	color: white;
	background-color: #29b6f6;
}

.ui-color-7b1f {
	color: white;
	background-color: #7b1fa2;
}

.ui-color-6a1b {
	color: white;
	background-color: #6a1b9a;
}

.ui-color-4a14 {
	color: white;
	background-color: #4a148c;
}

.ui-form-search {
	margin: auto;
	border: 2px solid #90caf9;
	background-color: #90caf9;
}

.ui-form-search form {
	height: 100%;
}

.ui-form-search input[type='text'] {
	width: 82%;
	height: 102%;
	background-color: white;
	border: 1px solid blue;
	text-indent: 12px;
	border-color: light-dark(#90caf9, rgb(133, 133, 133));
	outline: none;
	vertical-align: top;
	padding: 0px;
	margin-top: -1px;
	margin-left: -1px;
}

.ui-form-search input[type='submit'] {
	width: 16%;
	height: 100%;
	background-color: #90caf9;
	border: 1px solid #90caf9;
	vertical-align: top;
	margin-left: -5px;
	padding: 0px;
}

.ui-form-item {
	width: 100%;
	height: 65px;
}

.ui-form-item .error {
	color: red;
	font-size: 12px;
	display: inline-block;
}

.ui-form-item .title {
	color: black;
	font-size: 12px;
	background-color: #90caf9;
	display: inline-block;
	font-size: 21px;
	text-align: center;
	line-height: 45px;
	width: 16%;
	height: 45px;
}

.ui-form-item .box {
	background-color: #90caf9;
}

.ui-form-item .input {
	color: black;
	font-size: 12px;
	background-color: white;
	border: 1px solid blue;
	text-indent: 12px;
	border-color: light-dark(#90caf9, rgb(133, 133, 133));
	outline: none;
	vertical-align: top;
	margin-left: -15px;
	padding: 0px;
	width: 85%;
	height: 45px;
}

input[type='submit'] {
	color: black;
	font-size: 12px;
	background-color: white;
	border: 1px solid blue;
	text-indent: 12px;
	border-color: light-dark(#90caf9, rgb(133, 133, 133));
	outline: none;
	vertical-align: top;
	width: 100%;
	height: 45px;
}

.ui-inline-block {
	display: inline-block;
}

.ui-block-none {
	display: none;
}

@media screen and (max-device-width: 767px) {
	.ui-top .box {
		display: none;
	}
	.ui-top .boxOpen {
		width: 668px;
		float: right;
		display: block;
	}
}

@media screen and (max-width: 799px) {
	.ui-top {
		width: 799px;
	}
}